*{
	padding: 0;
	margin: 0;
	border: 0;
}
body{
	background-color: #272822;
}
.circle{
	width: 12px;
	height: 12px;
	border-radius: 6px;
	position: fixed;
	transition:transform 0.5s;
	-webkit-transition:-webkit-transform 0.5s;
}
.red{
	background-color: red;
}
.yellow{
	background-color: yellow;
}
.green{
	background-color: green;
}
.blue{
	background-color: blue;
}
.orange{
	background-color: orange;
}
.purple{
	background-color: purple;
}
.pink{
	background-color: pink;
}
.lightred{
	background-color: #f80824;
}
.white{
	background-color: white;
}
.darkgree{
	background-color: #15ee2f;
}
.lightblue{
	background-color: #08f8ea;
}
